<div class="login">
    <div class="container">
            <div class="login_heading">
                <div class="heading-line"></div>
                <div class="heading-background"></div>
                <div class="login-heading heading active">Đăng nhập</div>
                <div class="registor-heading heading">Đăng ký</div>
            </div>
         <div class="login-container">
            <div class="login-title">
                <h3>Thành viên đăng nhập</h3>
                <p>F8 là cộng đồng học lập trình thực tế miễn phí. Đăng nhập để cùng nhau học tập, đóng góp và chia sẻ kiến thức ❤️</p>
            </div>
            <div class="input-block">
                <div class="input-field">
                    <i class='bx bxs-user'></i>
                    <input type="text" name="username" class="login-username" placeholder="Your username">
                </div>
            </div>
            <div class="input-block">
                <div class="input-field">
                    <i class='bx bxs-lock-alt' ></i>
                    <input type="password" name="password" class="login-password" placeholder="Your password">
                </div>
                 <p class="error-message login-error-message"></p>
            </div>
            <button class="btn-login btn-primary">Đăng nhập</button>
            <p class="social-title">Or Login with social platforms</p>
            <div class="social-media">
                <a href="/auth/facebook">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="/auth/google">
                    <i class='bx bxl-google' ></i>
                </a>
            </div>
        </div>
        
        <div class="registor-container">
         <div class="login-title">
            <h3>Đăng ký thành viên</h3>
            <p>F8 là cộng đồng học lập trình thực tế miễn phí. Đăng nhập để cùng nhau học tập, đóng góp và chia sẻ kiến thức ❤️</p>
        </div>
        <div class="input-block">
            <div class="input-field">
                <i class='bx bxs-user'></i>
                <input type="text" name="username" class="registor-username" placeholder="Your username">
            </div>
                <p class="error-message message-registor-username"></p>
        </div>
        <div class="input-block">
            <div class="input-field">
                <i class='bx bxs-lock-alt' ></i>
                <input type="password" name="password" class="registor-password" placeholder="Your password">
            </div>
             <p class="error-message"></p>
        </div>
        <div class="input-block">
            <div class="input-field">
                <i class='bx bxs-lock-alt' ></i>
                <input type="password" name="confirm-password" class="registor-confirm-password" placeholder="Confirm password">
            </div>
              <p class="error-message"></p>
        </div>
        <button class="btn-registor btn-primary">Đăng ký</button>
        </div>
    </div>
    <div class="modal">
      <div class="modal-content">
          <span class="btn-close">&times;</span>
          <p>Bạn đã đăng ký thành công</p>
          <button class="btn-login-now btn-primary">Đăng nhập ngay</button>
      </div>
  </div>
</div>