<section class="footer">
    <div class="footer_content">
        <div class="footer_content_items lg-item">
            <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="">
            <p>F8 là nơi học lập trình miễn phí.</p>
            <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
            <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
            <p>© 2019 MyCV JSC. All rights reserved.</p>
        </div>
        <div class="footer_content_items sm-item">
            <h3>F8</h3>
            <a href="">Giới thiệu</a>
            <a href="">Tuyển dụng</a>
        </div>
        <div class="footer_content_items sm-item">
            <h3>Sản phẩm</h3>
            <a href="">Viết CV xin việc</a>
            <a href="">Học lập trình online</a>
            <a href="">Kênh Youtube F8</a>
            <a href="">Nhóm Facebook F8</a>
        </div>
        <div class="footer_content_items sm-item">
            <h3>Đối tác</h3>
            <a href="">Tải phầm mềm Macbook</a>
            
        </div>
        <div class="footer_content_items lg-item folow">
            <h3>Theo dõi chúng tôi</h3>
            <p>Nhập email để đăng ký nhận những thông tin hữu ích vế học tập từ F8</p>
            <input type="text" name="" id="" placeholder="Email của bạn...">
            <a href="" type="buttom">ĐĂNG KÝ</a>
        </div>
    </div>
</section>