
<div class="views_header">
     
    <div class="header">
    
            <div class="header_content">
                <div class="logo">
                    <a href="/">
                        <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="">
                    </a>
                </div>
                <div class="links">
                    <ul class="menu-top">
                        <li class="menu-item"><a href="/">Trang chủ</a></li>
                        <li class="menu-item"><a href="/courses">Khóa học</a></li>
                        <li class="menu-item"><div class="sub-menu">
                            <a class="title-sub-menu menu-item">Cộng đồng</a>
                                <ul class="sub-menu-item">
                                    <li>F8 Official Channel</li>
                                    <li>F8 Facebbook Group</li>
                                    <li>F8 Tạo CV Xin Việc</li>
                                    <li>Channel Vinh Trần</li>
                                </ul>
                        </div></li>
                    </ul>
                </div>
                <div class="registor">
                    <a href="/login"><span>Đăng nhập</span></a>
                </div>
    
        </div>
    
    </div>
    
</div>
 {{!-- script header  --}}
       