<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="/js/main.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    
    <style>@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');</style>
    <title>Document</title>
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}

</body>
       {{!-- <script>
           var backgroudMenu = document.querySelector('.header');
            window.onscroll = function() {
               if(document.body.scrollTop > 50 ||document.documentElement.scrollTop > 50) {
                   backgroudMenu.style.background = "black";           
               } else {
                   backgroudMenu.style.background = "transparent"
               }
            }
       </script> --}}
</html>