
    // chi tiet khoa hoc
    .layout_course{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        margin: 50px 0;
        .card-course {
            a{
                text-decoration: none;
                color:black;
                font-size: 16px;
            }
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 5px 110px 20px rgba($color: #999, $alpha: .2);
            img {
                height: auto;
                width: 100%;
                object-fit: cover; 
                position: relative;
                overflow: hidden;
                transition: all 0.4s;
                &::after, &::before {
                    box-sizing: inherit;
                }
            }
            &_content {
                padding: 20px 15px;
                .name-course {
                    font-size: 20px;
                    text-transform: bold;
                    font-weight: 600;
                    margin: 10px 0;
                }
                .description-course{
                    font-size: 15px;
                    color: #999;
                    margin-bottom: 30px;
                }
            }
        }
        .card-course:hover img{
            transform: scale(1.1);
            opacity: 0.8;
        }
    }
